# Ignore Rider files
.idea/
*.DotSettings.*

# Ignore vscode files
.vscode/

# Nix build output
result

# Dotnet artifacts
bin/
obj/

# Node modules
node_modules/

# Ignore generated vue_client files
vue_client/generated/

# Ignore vue_client build output
vue_client/dist/
